@import '../../styles/responsive.scss';
@import '../../styles/colors.scss';

.run {
	display: flex;
	flex-direction: column;

	.header {
		display: flex;

		@include breakpoint($sm-zero-only) {
			flex-direction: column;
		}

		.logo {
			margin-right: 8px;
			image-rendering: pixelated;

			@include breakpoint($sm-zero-only) {
				height: auto;
				margin-right: 0;
			}
		}

		.runInfo {
			width: 100%;
			display: flex;
			font-size: 1.2rem;
			padding: 16px;
			justify-content: space-between;

			.column {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}
		}
	}

	.twitch {
		background: $twitch;
		width: fit-content;
		padding: 1rem;
		border-radius: 10px;
		color: #ffffff;
		margin-top: 0.5rem;
		text-decoration: none;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

		svg {
			margin-right: 8px;
		}
	}
}
