@import "../../styles/colors.scss";

a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  border: 2px solid $color-white;
  border-radius: 0.375rem;

  color: $color-white;
  font-weight: bold;
  text-decoration: none;

  &:visited {
    color: $color-white;
  }

  &:hover,
  &:focus {
    border-color: $accent;
    color: $accent;
    text-decoration: underline;
  }

  &.primary {
    border-color: $accent;
    background-color: $accent;
    color: $light-text;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $accent;

      &.lightHover {
        border-color: $color-white;
        color: $color-white;
      }
    }
  }

  &.secondary {
    border-color: $secondary;
    background-color: $secondary;
    color: $light-text;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $secondary;
    }

    &.inverted {
      background-color: transparent;
      color: $color-white;
      border-color: $color-white;

      &:hover, &:focus {
        border-color: $primary;
        background-color: $primary;
      }
    }
  }

  svg + span {
    margin: -2px 16px 0;
  }

  span + svg {
    margin: 2px 0 0 16px;
  }
}
