@import "../../styles/colors.scss";
@import "../../styles/responsive.scss";

.product {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 1rem 0;

	.productImage {
		width: 90%;
		height: auto;
		object-fit: contain;
		margin: auto;
		margin-top: 0;
	}

	.loginError {
		font-weight: bold;
		font-style: italic;
		font-size: 1.5rem;
		text-align: center;
		text-wrap: balance;
	}

	.paymentMethod {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 1rem 0;

		@include breakpoint($sm-zero-only) {
			width: 100%;
			text-align: center;
		}

		.bankTransferButton {
			display: flex;
			gap: 8px;
		}
	}

	@include breakpoint($sm-zero-only) {
		grid-template-columns: 100%;
		text-align: center;

		.productImage {
			margin-bottom: 1rem;
		}
	}

	.cost {
		font-size: 300%;
		font-weight: bold;
	}

	.purchaseButtons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		margin: 1rem 0;
	}
}

.sizing {
	display: flex;
	gap: 1rem;

	@include breakpoint($sm-zero-only) {
		flex-direction: column-reverse;
		width: 100%;
		justify-content: center;
	}

	.image {
		// height: 5rem;
		width: 50%;
		// padding: 3rem;

		@include breakpoint($sm-zero-only) {
			width: 100%;
		}

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	table,
	th,
	td {
		border: 1px solid $primary;
		border-collapse: collapse;
		padding: 0.5rem;
		// border-radius: 5px;
		text-align: center;

		th>span {
			display: block;
			font-style: italic;
			font-weight: lighter;
		}
	}
}

.shirtWarning {
	font-size: 1.2rem;
	font-weight: bolder;
	margin: 0 !important;
}

.generatedTickets {
	border: 5px solid $primary;
	border-radius: 10px;
	width: 100%;
	margin: 1rem auto;
	padding: 1rem;

	background-image: url("../../styles/img/TicketWatermark.png");
	background-color: rgba(255, 255, 255, 0.486);
	background-blend-mode: lighten;
	background-size: 60px;

	.ticketID {
		display: flex;
		flex-direction: column;
		align-items: center;

		.label {
			font-size: 2rem;
			font-weight: bold;
		}
	}

	.informationGrid {
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 2px 12px;

		span:nth-child(odd) {
			text-align: right;
		}

		span:nth-child(even) {
			font-weight: bold;
			text-align: left;
		}
	}

	p {
		text-align: center;
		margin-top: 1rem;
	}

	@include breakpoint($sm-zero-only) {
		width: 90%;
	}
}

@keyframes ticketGeneration {
	0% {
		max-height: 0;
		opacity: 0;
	}

	10% {
		// max-height: 0;
		opacity: 0;
	}

	100% {
		max-height: 445px;
		opacity: 1;
	}
}

.generatedTicketsSkeleton {
	border: 5px solid $primary;
	border-radius: 10px;
	width: 60%;
	margin: 1rem auto;
	padding: 1rem;
	overflow: hidden;

	background-image: url("../../styles/img/TicketWatermark.png");
	background-size: 60px;

	&.animation {
		animation-name: ticketGeneration;
		animation-duration: 3s;
		animation-timing-function: ease-out;
	}

	.ticketID {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 8px;
	}

	.informationGrid {
		display: grid;
		grid-template-columns: 100%;
		gap: 2px 5px;
	}

	p {
		text-align: center;
		margin-top: 1rem;
	}
}