@import "../../styles/styles.scss";

.tileGroup {
  background: $color-off-white;

  .content {
    display: grid;
    grid-gap: 24px;

    @include breakpoint($sm) {
      grid-columns: repeat(2, 1fr);
    }

    @include breakpoint($md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .tile {
    background: $color-white;
    border-radius: 4px;
    padding: 32px 32px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    h3 {
      color: $secondary;
      margin-bottom: 32px;
    }

    @include breakpoint($sm-only) {
      &:first-child {
        grid-column: 1 / 3;
      }
    }
  }
}