.twitchEmbed {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 28.1%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
