@import './responsive.scss';

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	padding: 24px;

	@include breakpoint($sm) {
		padding: 40px 24px;
	}

	@include breakpoint($lg) {
		max-width: 1200px;
	}
}
