@use 'base';
@import './colors.scss';
@import './responsive.scss';

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content {
	margin: 0 auto;
	flex-direction: column;
	align-items: center;

	.image {
		width: 50%;
		height: auto;
		object-fit: contain;

		@include breakpoint($sm-zero-only) {
			width: 100%;
		}
	}

	.linkToProfile {
		margin: 1rem 0;
		font-size: 1.2rem;
		border: 3px $primary solid;
		width: 100%;
		text-align: center;
		padding: 0.5rem;
		border-radius: 10px;
	}

	hr {
		width: 100%;
	}

	.productSelection {
		display: flex;
		gap: 1rem;
		margin: 1rem;
		width: 100%;

		.card {
			border: 3px $primary solid;
			border-radius: 10px;
			flex-grow: 1;

			img {
				max-height: 200px;
				max-width: 400px;
				object-fit: contain;
				padding: 1rem;
				display: block;
				margin: auto;
			}
		}

		@include breakpoint($sm-zero-only) {
			flex-direction: column;

			.card {
				img {
					max-width: 300px;
				}
			}
		}
	}

	.back {
		svg {
			margin-right: 8px;
		}
	}

	.sizing {
		display: flex;
		gap: 1rem;

		@include breakpoint($sm-zero-only) {
			flex-direction: column-reverse;
			width: 100%;
			justify-content: center;
		}

		.image {
			height: 20rem;
			width: 22rem;
			object-fit: contain;

			img {
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
			// padding: 3rem;

			@include breakpoint($sm-zero-only) {
				width: 100%;
			}
		}


		table,
		th,
		td {
			border: 1px solid $primary;
			border-collapse: collapse;
			padding: 0.5rem;
			// border-radius: 5px;
			text-align: center;

			th > span {
				display: block;
				font-style: italic;
				font-weight: lighter;
			}
		}
	}
}
