$color-ochre: #cc7722;
// $color-teal: #2277CC;
$color-teal: #437c90;
$color-umber: #823329;
$color-linen: #fcf5ee;
$color-off-white: #f9f9f9;
$color-grey: #d8d8e2;
$color-charcoal: #424854;
$color-white: #ffffff;
$color-black: #000000;

$primary: $color-ochre;
$secondary: $color-teal;
$accent: $color-teal;
$light-text: $color-white;
$dark-text: $color-black;

$nav-background: $secondary;
$nav-text: $light-text;
$hero-background: $primary;
$hero-text: $light-text;

$twitch: #9146ff;

$goc-orange: #f16660;
$goc-main: #162d54;
$goc-main-dark: #16223a;
$goc-accent: #cdde00;

$pax-main: #f2c62f;

$tgx-main: #191919;
$tgx-red: #f80023;
$tgx-yellow: #ffc300;
$tgx-blue: #007eff;
$tgx-green: #00c091;
$tgx-rainbow: linear-gradient($tgx-red 0%, $tgx-red 25%, $tgx-yellow 25%, $tgx-yellow 50%, $tgx-blue 50%, $tgx-blue 75%, $tgx-green 75%, $tgx-green 100%);
$tgx-rainbow-rotated: linear-gradient(90deg, $tgx-red 0%, $tgx-red 25%, $tgx-yellow 25%, $tgx-yellow 50%, $tgx-blue 50%, $tgx-blue 75%, $tgx-green 75%, $tgx-green 100%);

$asm23-main: #020824;

$pax23-main: #222721;
$pax23-sec: #d3cec2;
$pax23-accent: #be945f;
$pax23-main-light: #343933;
$pax23-red: #db2530;
$pax23-yellow: #f7b03b;
$pax23-blue: #007eb7;
$pax23-purple: #904b97;
$pax23-rainbow-bar: linear-gradient(90deg, $pax23-red 0%, $pax23-red 25%, $pax23-yellow 25%, $pax23-yellow 50%, $pax23-blue 50%, $pax23-blue 75%, $pax23-purple 75%, $pax23-purple 100%);

$dh-main: #000000;
$dh-light-orange: #ff7e00;
$dh-orange: #FF4B0A;
$dh-yellow: #FFEB00;
$dh-red: #FF0046;

$dh-orange-to-orange: linear-gradient(90deg, $dh-light-orange, $dh-orange);
$dh-yellow-to-orange: linear-gradient(90deg, $dh-yellow, $dh-light-orange);
$dh-orange-to-red: linear-gradient(90deg, $dh-orange, $dh-red);

// Tailwind Colours

$primary-50: #fdf9ed;
$primary-100: #f7eece;
$primary-200: #efdb98;
$primary-300: #e7c362;
$primary-400: #e1ad3e;
$primary-500: #d89128;
$primary-600: #cc7722;
$primary-700: #9f511e;
$primary-800: #82401e;
$primary-900: #6b361c;
$primary-950: #3d1a0b;

$secondary-50: #f2f8f9;
$secondary-100: #ddecf0;
$secondary-200: #c0dae1;
$secondary-300: #94c0cc;
$secondary-400: #619caf;
$secondary-500: #437c90;
$secondary-600: #3c697e;
$secondary-700: #365768;
$secondary-800: #324b58;
$secondary-900: #2e404b;
$secondary-950: #1a2832;

$asm24-main-bg: #030c38
