@import "../../styles/styles.scss";

.eventDetails {
  width: 100%;
  background: $color-white;

  .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .charities,
    .sponsors {
      padding: 25px;
    }

    .charities img {
      width: 400px;
    }

    .sponsors img {
      width: 300px;
    }

    @include breakpoint($lg) {
      flex-flow: row nowrap;

      .charities {
        border-right: 1px solid $color-charcoal;
      }
    }
  }
}
