@import "../../styles/colors.scss";

.ticket {
	border: 5px solid $primary;
	border-radius: 10px;
	width: 60%;
	margin: 1rem auto;
	padding: 1rem;

	background-image: url('../../styles/img/TicketWatermark.png');
	background-size: 60px;

	.ticketID {
		display: flex;
		flex-direction: column;
		align-items: center;

		.label {
			font-size: 2rem;
			font-weight: bold;
		}
	}

	.informationGrid {
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 2px 5px;

		span:nth-child(odd) {
			text-align: right;
		}

		span:nth-child(even) {
			font-weight: bold;
		}
	}

	p {
		padding: 0 20%;
		font-size: 1.2rem;
		text-align: center;
		margin-top: 1rem;
	}
}
