$color-ochre: #CC7722;
$color-teal: #437C90;
$color-umber: #823329;
$color-linen: #FCF5EE;
$color-off-white: #F9F9F9;
$color-grey: #D8D8E2;
$color-charcoal: #424854;
$color-white: #FFFFFF;
$color-black: #000000;

$primary: $color-ochre;
$secondary: $color-teal;
$light-text: $color-white;
$dark-text: $color-black;

$nav-background: $secondary;
$nav-text: $light-text;
$hero-background: $primary;
$hero-text: $light-text;

