$primary: #2b315c;
$primary-mid: #005b8c;
$primary-light: #0082c8;
$secondary: #cc7722;
$secondary-dark: #af651e;
$text-on-dark: white;
$text-on-light: black;

$nav-background: $primary;
$nav-text: $text-on-dark;
$hero-background: $primary;
$hero-text: $text-on-dark;
