@import "./responsive.scss";

.content {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 24px;

  @include breakpoint($sm) {
    padding: 40px 24px;
  }

  @include breakpoint($lg) {
    max-width: 1200px;
  }
}

header .content, .footer .content {
  min-height: 50px;
  padding: 8px;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
