@import "../../styles/responsive.scss";
@import "../../styles/colors.scss";

.heroblock {
  width: 100%;
  // background: url("../../styles/img/hero-image.png") no-repeat;
  background-size: cover;
  background-position: center;
  color: $dark-text;

  .content {
    display: flex;
    flex-flow: column;
    padding: 50px 0;

    @include breakpoint($md) {
      flex-flow: row;
      max-width: 1200px;

      & > :first-child {
        display: inline-block;
        max-width: 33%;
      }

      & > :last-child:not(:only-child) {
        margin-left: 10px;
        max-width: 66%;
        padding: 0 7%;
      }
    }

    a {
      color: $color-white;

      &:visited {
        color: $color-white;
      }
    }

    .ctaBlock {
      text-align: left;
      padding: 25px;

      p {
        max-width: 400px;
      }

      .countdown {
        // font-size: 1.75rem;
        // line-height: 3;
        min-height: 32px;
      }

      a {
        margin-bottom: 16px;
      }
    }

    .logoBlock {
      // width: inherit;
      // max-width: 400px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      max-width: 80%;
      margin: auto;

      @include breakpoint($lg) {
        max-width: 600px;
      }
    }
  }
}
