.content {
	display: flex;
	flex-direction: column;
	gap: 8px;

	// &.MuiDialogTitle-root {
	// 	padding-top: 8px;
	// }
}

// .actions {
// 	&.MuiDialogActions-root {
// 		justify-content: space-between !important;
// 	}
// }
