@use "base";
@import "./colors.scss";
@import "./responsive.scss";

.eventLive {
	color: $light-text;
	background: $asm23-main;
	background-image: url("../../styles/img/events/asm23/asm23-background.png");
	background-size: cover;
	padding: 2rem;

	@include breakpoint($sm-zero-only) {
		padding: 0;
	}

	.logo {
		margin: auto;
		width: fit-content;
		margin-bottom: 0.5rem;
		@include breakpoint($sm-zero-only) {
			padding: 1rem;
		}
	}

	h2,
	h3 {
		text-align: center;
	}

	.link {
		text-align: center;
	}

	.eventInfo {
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint($sm-zero-only) {
			flex-direction: column;
			margin-bottom: 10px;
		}

		h2 {
			margin: 0;
		}

		.link {
			margin: 1rem;

			a {
				width: 100%;
				font-size: 1.5rem;
			}
		}
	}

	.onDeck {
		display: flex;
		width: 80%;
		margin: auto;
		justify-content: space-between;

		@include breakpoint($sm-zero-only) {
			flex-direction: column;
		}

		.columnLeft,
		.columnMiddle,
		.columnRight {
			display: flex;
			flex-direction: column;

			h4 {
				color: #ffffff;
				font-weight: bold;
				font-size: 1.5rem;
				margin-bottom: -0.8rem;

				@include breakpoint($sm-zero-only) {
					font-size: 1rem;
					margin-bottom: -0.2rem;
				}
			}

			h3 {
				font-size: 2rem;

				@include breakpoint($sm-zero-only) {
					font-size: 1.5rem;
				}
			}
		}

		.columnLeft {
			h3 {
				text-align: left;
			}

			h4 {
				text-align: left;

				@include breakpoint($sm-zero-only) {
					text-align: center;
				}
			}
		}

		.columnMiddle {
			h4 {
				text-align: center;
			}
		}

		.columnRight {
			h3 {
				text-align: right;
			}

			h4 {
				text-align: right;

				@include breakpoint($sm-zero-only) {
					text-align: center;
				}
			}
		}
	}

	.twitch {
		display: flex;
		width: 80%;
		margin: auto;
		justify-content: space-between;
		padding-top: 1rem;
		// height: 40rem;

		@include breakpoint($sm-zero-only) {
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		.twitchVideo,
		.twitchChat {
			border: 8px solid $secondary;
			box-sizing: border-box;
		}

		.twitchChat {
			border-color: $secondary;
		}

		.twitchVideo {
			width: 70%;

			@include breakpoint($sm-zero-only) {
				width: 100%;
			}
		}

		.twitchChat {
			width: 27%;

			@include breakpoint($sm-zero-only) {
				display: none;
			}
		}
	}

	.incentive,
	.upcoming {
		position: relative;
		margin: auto;
		margin-top: 1rem;
		box-sizing: border-box;
		display: flex;
		justify-content: center;

		.liveContent {
			padding: 1rem;
		}
	}

	.incentive {
		.liveContent {
			background-color: $primary;
			border: 2px solid $secondary;
			// width: 50%;

			@include breakpoint($sm-zero-only) {
				width: 100%;
			}
		}

		.divider {
			margin: auto;
			margin-top: 10px;
			width: 80%;
			height: 10px;
			background: $primary;
		}
	}

	.upcoming {
		@include breakpoint($sm-zero-only) {
			margin-top: 0;
		}

		.liveContent {
			background-color: $asm23-main;
			border: 2px solid $secondary;
			font-size: 1.2rem;
			width: fit-content;
			word-break: break-all;

			@include breakpoint($sm-zero-only) {
				width: 100%;
			}

			.info {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			span {
				margin-bottom: 0.5rem;
			}

			.subtitle {
				color: $primary;
				font-weight: bold;
				margin-bottom: 0;
			}

			.link {
				margin-top: 1rem;

				a {
					margin: 0;
				}

				span {
					margin: 0;
				}
			}
		}
	}

	.crowdcontrol {
		display: flex;
		justify-content: center;
		margin: 4rem 0;
	}
}
