@use "base";
@import "./colors.scss";
@import "./responsive.scss";

.eventLive {
	color: $light-text;
	background: $tgx-main;
	background-image: url("../../styles/img/events/asgx24/asgx24-hero.png");
	// background-size: cover;
	background-position-x: center;
	padding: 2rem;

	@include breakpoint($sm-zero-only) {
		padding-left: 0;
		padding-right: 0;
		background-size: contain;
	}

	.logo {
		margin: auto;
		width: fit-content;
		margin-bottom: 0.5rem;
		@include breakpoint($sm-zero-only) {
			padding: 1rem;
		}
	}

	h2,
	h3 {
		text-align: center;
	}

	.link {
		text-align: center;
	}

	.schedule {
		text-align: center;
		margin: 16px 0;
		font-size: 1.5rem;
	}

	.eventInfo {
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint($sm-zero-only) {
			flex-direction: column;
			margin-bottom: 10px;
		}

		h2 {
			margin: 0;
		}

		.link {
			margin: 1rem;

			a {
				width: 100%;
				font-size: 1.5rem;
			}
		}
	}

	.onDeck {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 80%;
		margin: auto;

		@include breakpoint($sm-zero-only) {
			flex-direction: column;
		}

		.columnLeft,
		.columnMiddle,
		.columnRight {
			display: flex;
			flex-direction: column;

			h4 {
				font-weight: bold;
				font-size: 1.5rem;
				margin-bottom: -0.8rem;

				@include breakpoint($sm-zero-only) {
					font-size: 1rem;
					margin-bottom: -0.2rem;
				}
			}

			h3 {
				font-size: 2rem;
				font-weight: bold;

				@include breakpoint($sm-zero-only) {
					font-size: 1.5rem;
				}
			}
		}

		.columnLeft {
			h3 {
				text-align: left;

				@include breakpoint($sm-zero-only) {
					text-align: center;
				}
			}

			h4 {
				text-align: left;

				@include breakpoint($sm-zero-only) {
					text-align: center;
				}
			}
		}

		.columnMiddle {
			h3 {
				text-align: center;
			}

			h4 {
				text-align: center;
			}
		}

		.columnRight {
			h3 {
				text-align: right;

				@include breakpoint($sm-zero-only) {
					text-align: center;
				}
			}

			h4 {
				text-align: right;

				@include breakpoint($sm-zero-only) {
					text-align: center;
				}
			}
		}
	}

	.twitch {
		display: flex;
		width: 80%;
		margin: auto;
		justify-content: space-between;
		padding-top: 1rem;
		// height: 40rem;

		@include breakpoint($sm-zero-only) {
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		.twitchVideo,
		.twitchChat {
			border: 8px solid $tgx-yellow;
			box-sizing: border-box;
		}

		.twitchChat {
			border-color: $tgx-red;
		}

		.twitchVideo {
			width: 70%;

			@include breakpoint($sm-zero-only) {
				width: 100%;
			}
		}

		.twitchChat {
			width: 27%;

			@include breakpoint($sm-zero-only) {
				display: none;
			}
		}
	}

	.dashboard {
		display: flex;
		justify-content: center;
		gap: 16px;
		padding: 0 10%;
		flex-wrap: wrap;
		margin-top: 32px;

		@include breakpoint($sm-zero-only) {
			section {
				width: 100%;
			}
		}

		a {
			margin: 0;
		}
	}

	.incentive,
	.upcoming {
		position: relative;
		margin-top: 1rem;
		box-sizing: border-box;
		display: flex;
		justify-content: center;

		.liveContent {
			padding: 1rem;
		}
	}

	.upcoming {
		@include breakpoint($sm-zero-only) {
			margin-top: 0;
		}

		.liveContent {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			background-color: $tgx-main;
			border: 2px solid $tgx-blue;
			font-size: 1.2rem;
			width: fit-content;
			word-break: break-all;
			min-width: 400px;

			@include breakpoint($sm-zero-only) {
				width: 100%;
			}

			.info {
				display: flex;
				flex-direction: column;
				align-items: center;

				.game {
					font-size: 150%;
					font-weight: bolder;
					margin-bottom: 0;
				}

				.category {
					font-size: 120%;
				}
			}

			span {
				margin-bottom: 0.5rem;
			}

			.subtitle {
				color: $light-text;
				font-weight: bold;
				margin-bottom: 0;
			}

			.link {
				margin-top: 1rem;

				a {
					margin: 0;
				}

				span {
					margin: 0;
				}
			}
		}
	}

	.incentive {
		.liveContent {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-around;
			background-color: $tgx-main;
			border: 2px solid $tgx-green;
			// width: 50%;

			@include breakpoint($sm-zero-only) {
				width: 100%;
			}

			.instructions {
				display: inline-block;
				font-size: 120%;
				text-wrap: balance;
				max-width: 600px;
				text-align: center;
				margin: auto;
			}
		}

		.divider {
			margin: auto;
			margin-top: 10px;
			width: 80%;
			height: 10px;
			background: $tgx-rainbow-rotated;
		}
	}

	.crowdcontrol {
		display: flex;
		justify-content: center;
		margin: 4rem 0;
	}
}
