@import "../../styles/styles.scss";

.twitchChatEmbed {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  @include breakpoint($lg) {
    padding-top: calc(
      (56.25% / 3) * 2
    ); /* Half the screen width so half the height */
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.toggleChat {
  align-self: flex-end;
}
