@import "../../styles/styles.scss";

.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  background: $secondary;
  height: auto;

  .content {
    display: flex;
    align-items: center;

    padding: 10px 5px;

    @include breakpoint($md) {
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 0 5px;
    }
  }

  .title {
    margin: 5px;
    font-family: "Finger Paint";
    font-size: 1.2rem;
    flex-grow: 1;

    @include breakpoint($sm) {
      font-size: 1.5rem;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover,
      &:focus,
      &:visited:hover,
      &:visited:focus {
        color: $primary;

        .logo {
          background-image: url("../../styles/img/Ausspeedruns-logo-orange.png");
        }
      }

      &:visited {
        color: $light-text;
        text-decoration: none;
      }
    }

    .logo {
      width: 40px;
      height: 40px;
      margin-right: 5px;
      background: url("../../styles/img/Ausspeedruns-logo-white.png") no-repeat
        center;
      background-size: contain;

      @include breakpoint($sm) {
        height: 50px;
        width: 50px;
      }
    }
  }

  nav {
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint($xs) {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }

    @include nav-lists;
  }
}

.menu-toggle {
  color: $light-text;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: $primary;
}

.main-menu {
  position: absolute;
  display: none;
  left: 0; /* push off the screen to the left for future animation */
  top: 60px;
  width: 100%;
  height: 0;
	overflow-y: scroll;
	overflow-x: visible;
	transition: height 0.3s ease;
	z-index: 999;
  background: $secondary;
}

.main-menu a.menu-close {
  border-bottom: 0; /* no border for the X 'button' */
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  height: auto; /* slide from -200px to the left edge at 0 */
  outline: none;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 60px;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  /*
    Allow backdrop to stay fixed and not "scroll"
  */
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

@media (min-width: 768px) {
  /* Hide hamburger menu/'button' */
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    display: block;
  }
}