@import "../../styles/styles.scss";

.footer {
  background-color: $nav-background;
  color: $light-text;

  @include nav-lists;
}

.acknowledgement {
  background-color: $primary;
  color: $light-text;
}
