@import "../../styles/colors.scss";
@import "../../styles/responsive.scss";

.submission {
	&.MuiAccordion-root {
		background-color: $color-off-white;
	}

	// border: 1px $primary solid;

	.submissionHeader {
		div {
			display: flex;
			align-items: center;
		}

		.submissionStatus {
			text-transform: capitalize;
			font-weight: bold;
			margin-right: 8px;
			padding: 4px;
			border-radius: 8px;
			min-width: 90px;
			text-align: center;
		}
	}

	.submissionDetails {
		table {
			width: 65%;
			table-layout: fixed;
			margin: auto;
		}

		td {
			padding: 2px 8px;
			width: 100%;
			vertical-align: text-top;
		}

		td:nth-child(odd) {
			font-weight: bold;
			text-align: right;
		}

		h3 {
			margin-top: 1rem;
			text-align: center;
		}
	}
}
