@import './colors.scss';
@import './responsive.scss';

.generatedShirts {
	border: 5px solid $primary;
	border-radius: 10px;
	width: fit-content;
	// min-width: 30%;
	margin: 0.5rem auto;
	padding: 1rem;
	font-size: 1.2rem;

	background-image: url('../../styles/img/TicketWatermark.png');
	background-size: 60px;

	display: flex;
	justify-content: center;
	gap: 1rem;


	@include breakpoint($sm-zero-only) {
		flex-direction: column;
		align-items: center;
	}

	.image {
		height: 4rem;
		width: 4rem;
		// width: auto;
	}

	.label {
		font-weight: bold;
		white-space: nowrap;
		text-align: center;
	}

	.basicInfo {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		// align-items: center;
	}

	.unpaid {
		// flex-grow: 1;
		max-width: 40%;

		.informationGrid {
			font-size: 1rem;
		}

		@include breakpoint($sm-zero-only) {
			max-width: 100%;
		}
	}

	.informationGrid {
		display: grid;
		grid-template-columns: auto auto;
		gap: 2px 5px;
		white-space: nowrap;

		// span:nth-child(odd) {
		// 	text-align: right;
		// }

		span:nth-child(even) {
			font-weight: bold;
		}

		@include breakpoint($sm-zero-only) {
			grid-template-columns: 1fr 1fr;
		}
	}
}
