@use 'base';
@import './colors.scss';
@import './responsive.scss';

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content {
	margin: 0 auto;
	flex-direction: column;
	align-items: center;

	.image {
		width: 50%;
		height: auto;

		@include breakpoint($sm-zero-only) {
			width: 100%;
		}
	}

	.linkToProfile {
		margin: 1rem 0;
		font-size: 1.2rem;
		border: 3px $primary solid;
		width: 100%;
		text-align: center;
		padding: 0.5rem;
		border-radius: 10px;
	}

	.fullWidth {
		width: 100%;
	}

	hr {
		width: 100%;
	}

	.loginError {
		font-weight: bold;
		font-style: italic;
		font-size: 1.5rem;
	}

	.paymentMethod {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50%;
		margin: 1rem 0;

		@include breakpoint($sm-zero-only) {
			width: 100%;
		}

		.bankTransferButton {
			display: flex;
			gap: 8px;
		}
	}

	.generatedTickets {
		border: 5px solid $primary;
		border-radius: 10px;
		width: 60%;
		margin: 1rem auto;
		padding: 1rem;

		background-image: url('./img/TicketWatermark.png');
		background-size: 60px;

		.ticketID {
			display: flex;
			flex-direction: column;
			align-items: center;

			.label {
				font-size: 2rem;
				font-weight: bold;
			}
		}

		.informationGrid {
			display: grid;
			grid-template-columns: 50% 50%;
			gap: 2px 5px;

			span:nth-child(odd) {
				text-align: right;
			}

			span:nth-child(even) {
				font-weight: bold;
			}
		}

		p {
			text-align: center;
			margin-top: 1rem;
		}
	}
}

.footer {
	margin-top: auto;
}
