$color-ochre: #cc7722;
$color-teal: #437c90;
$color-umber: #823329;
$color-linen: #fcf5ee;
$color-off-white: #f9f9f9;
$color-grey: #d8d8e2;
$color-charcoal: #424854;
$color-white: #ffffff;
$color-black: #000000;

$primary: $color-ochre;
$secondary: $color-teal;
$accent: $color-teal;
$light-text: $color-white;
$dark-text: $color-black;

$nav-background: $secondary;
$nav-text: $light-text;
$hero-background: $primary;
$hero-text: $light-text;

$twitch: #9146ff;

$goc-orange: #f16660;
$goc-main: #162d54;
$goc-main-dark: #16223a;
$goc-accent: #cdde00;

$pax-main: #f2c62f;
