@use 'base';
@import './colors.scss';
@import './responsive.scss';

.postEvent {
	background-color: $primary;
	background-size: 100% auto;
	background-repeat: repeat-y;
	background-position: top center;

	.document {
		background: #ffffff;
		margin: auto;
		box-shadow: 0px 0px 24px 19px rgba(0, 0, 0, 0.3);
		padding: 1rem 0.5rem;

		& > span {
			display: block !important;
			margin: 1rem auto !important;
		}

		@include breakpoint($lg) {
			max-width: 1200px;
			padding: 2rem 100px;
		}
	}
}
