@use 'base';
@import './colors.scss';
@import './responsive.scss';

.header {
	background-image: url('./img/ASM2022Background.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 20px 0px black;
	background-color: #024759;
	width: 100%;
	min-height: 25rem;

	@include breakpoint($sm-zero-only) {
		// height: 20rem;
		padding: 2rem 0;
		background-size: cover;
		image-rendering: pixelated;
	}

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 16px;

	.logo {
		width: 600px;
		height: auto;

		@include breakpoint($sm-zero-only) {
			width: 80%;
		}
	}

	.buttons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;

		@include breakpoint($sm-zero-only) {
			grid-template-columns: 80%;
			justify-content: center;
		}
	}
}

.contentRow {
	display: flex;
	width: 100%;
	height: 30rem;

	.intro,
	.moreInfo {
		width: 50%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h2 {
			font-size: 1.2rem;

			@include breakpoint($lg) {
				font-size: 2rem;
			}
		}

		p {
			font-size: 1rem;
			width: 80%;

			@include breakpoint($lg) {
				font-size: 1.4rem;
				width: 70%;
			}
		}
	}

	.intro {
		background: $primary;
		color: $light-text;
	}

	.image {
		position: relative;
		width: 50%;
	}

	.moreInfo {
		color: $dark-text;
	}

	@include breakpoint($sm-zero-only) {
		position: relative;
		display: block;

		.intro,
		.moreInfo {
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 2;
		}

		.image {
			position: absolute;
			height: 100%;
			width: 100%;
		}

		.intro {
			background: transparentize($color: $primary, $amount: 0.2);
		}

		.moreInfo {
			background: transparentize($color: #ffffff, $amount: 0.2);
		}
	}
}

.informationSection {
	box-shadow: inset 0 0 20px 0px black;
	background-color: $color-off-white;
	height: 30rem;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 1.3rem;

	@include breakpoint($sm-zero-only) {
		font-size: 1rem;
	}

	h3 {
		font-size: 1.8rem;
	}

	.information {
		@include breakpoint($sm-zero-only) {
			padding: 0 20px;
		}
		// display: flex;
		// flex-direction: column;

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5px 0px;

		span:nth-child(odd) {
			font-weight: bold;
		}

		span:nth-child(even) {
			text-align: right;
		}
	}
}

.footer {
	position: relative;
	width: 100%;
	height: 30rem;
}
