@import './responsive.scss';

@mixin nav-lists {
  ul {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    margin-block: 0;
    padding-inline: 0;

    @include breakpoint($sm) {
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    li {
      display: flex;
      align-items: center;
      margin: 5px 10px;

      svg + .text {
        margin-left: 10px;
      }
      
    }
  }

  a {
    color: $light-text;
    font-weight: bold;
    text-decoration: none;

    &:visited {
      color: $light-text;
    }

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}
