@import './colors.scss';

.content {
	flex-direction: column;
	align-items: center;

	.profileInformation {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
		gap: 10px 0px;
		grid-auto-flow: row;
		align-items: baseline;
	}

	.submitGameLink {
		font-weight: 600;
		font-size: 1.5rem;
		text-decoration: none;
		color: $primary;
		margin: 1rem 0;

		&:hover {
			color: lighten($primary, 10%);
		}

	}
}
