@use 'base';
@import "./responsive.scss";
@import "./colors.scss";

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;

	h1 {
		color: $secondary;
	}

	form {
		display: flex;
		flex-direction: column;
		width: 100%;

		& > * {
			margin: 0.5rem 0;
		}

		a {
			margin-right: 0;
		}
	}
}