@use 'base';
@import './colors.scss';
@import './responsive.scss';

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content {
	margin: 0 auto;
	flex-direction: column;
	align-items: center;

	.image {
		width: 50%;
		height: auto;

		@include breakpoint($sm-zero-only) {
			width: 100%;
		}
	}

	.orders {
		width: 100%;
	}

	.itemContent {
		margin-top: 1rem;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		justify-content: center;
		gap: 1rem;

		.imageContainer {
			border: 5px solid $primary;
			border-radius: 10px;
		}

		img {
			// width: 10%;
			// max-height: 30rem;
			padding: 1rem !important;
			height: auto;
		}

		.preferences {
			margin-bottom: 2rem;
		}
	}

	hr {
		width: 100%;
	}

	.sizing {
		display: flex;
		gap: 1rem;

		.image {
			// height: 5rem;
			width: 22rem;
			// padding: 3rem;
		}

		table,
		th,
		td {
			border: 1px solid $primary;
			border-collapse: collapse;
			padding: 0.5rem;
			// border-radius: 5px;
			text-align: center;

			th > span {
				display: block;
				font-style: italic;
				font-weight: lighter;
			}
		}
	}

	.loginError {
		font-weight: bold;
		font-style: italic;
		font-size: 1.2rem;
		text-align: center;
	}

	.paymentMethod {
		margin: 1rem 0;
	}

	@keyframes ticketGeneration {
		0% {
			max-height: 0;
			opacity: 0;
		}

		10% {
			// max-height: 0;
			opacity: 0;
		}

		100% {
			max-height: 445px;
			opacity: 1;
		}
	}

	.generatedShirtSkeleton {
		border: 5px solid $primary;
		border-radius: 10px;
		width: 60%;
		margin: 1rem auto;
		padding: 1rem;
		overflow: hidden;
		display: flex;

		background-image: url('./img/TicketWatermark.png');
		background-size: 60px;

		&.animation {
			animation-name: ticketGeneration;
			animation-duration: 3s;
			animation-timing-function: ease-out;
		}

		.ticketID {
			display: flex;
			flex-flow: column;
			margin-left: 1rem;
		}

		.informationGrid {
			flex-grow: 1;
			margin-left: 1rem;
			display: grid;
			grid-template-columns: 100%;
			gap: 2px 5px;
		}
	}
}

.footer {
	margin-top: auto;
}
