@use 'base';
@import './colors.scss';

.content {
	flex-direction: column;
	align-items: center;

	.return {
		color: $dark-text;
		text-decoration: none;
		margin-top: 16px;
	}

	.profileInformation {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5px 0px;
		grid-auto-flow: row;
		align-items: baseline;
		margin-bottom: 2rem;
	}

	h3 {
		margin-top: 2rem;
	}

	.submitGameLink {
		font-weight: 600;
		font-size: 1.5rem;
		text-decoration: none;
		color: $primary;

		&:hover {
			color: lighten($primary, 10%);
		}
	}
}
