@import "./colors.scss";
@import "./responsive.scss";

.content {
	display: flex;
	flex-direction: column;
	
	@include breakpoint($md) {
		padding: 2rem 10%;
    }

	@include breakpoint($lg) {
		padding: 2rem 0;
	}

	.profileHeader {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	hr {
		border-top: 4px $primary solid;
		width: 100%;
	}

	.roleList {
		display: flex;
		gap: 5px;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 1rem;
	}

	.userInfo {
		width: 50%;
		display: grid;
		grid-template-columns: 1fr 1fr; 
		gap: 5px 0px;

		*:nth-child(odd) {
			font-weight: bold;
		}
	}

	.submissions {
		margin-top: 2rem;

		.submission {
			color: black;
		}
	}

	.upcomingRuns {
		margin-top: 2rem;		
	}

	.runs {
		margin-top: 2rem;		
	}
}
