@use 'base';
@import "./responsive.scss";
@import "./colors.scss";

.content {
	flex-direction: column;
	
	h1 {
		text-align: center;
		margin-bottom: 32px;
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	
		@include breakpoint($md) {
			padding: 0 10%;
		}
		
		@include breakpoint($lg) {
			padding: 0 20%;
		}
	
		& > * {
			margin: 10px 0;
		}
	}
}

