@use 'base';
@import "./responsive.scss";
@import "./colors.scss";

.noEvents {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	flex-direction: column;

	h1 {
		text-align: center;
	}

	.volunteerForm {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		@include breakpoint($md) {
			padding: 0 10%;
		}

		@include breakpoint($lg) {
			padding: 0 20%;
		}

		& > * {
			margin: 10px 0;
		}

		& > p {
			border: 5px solid $primary;
			padding: 0.5rem;
			border-radius: 5px;
		}

		.question {
			width: 100%;

			& > span {
				display: block;
				margin-bottom: 4px;
				font-size: 1.1rem;
			}

			.subtitle {
				color: rgb(133, 133, 133);
				font-style: italic;
				font-size: 1rem;
			}

			& > div {
				margin: 5px 0;
			}
		}
	}
}
